@page
@model MultiPlayerGameDemo.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Byla vytvořena nová hra</h1>
<p>Hráč 1 se přihlásí kódem: @Model.Player1Code</p>
<p>Hráč 2 se přihlásí kódem: @Model.Player2Code</p>
